<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    {% block headerjscss %}

    {% endblock %}

</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href='/' class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="bi me-2" src="/static/images/logo2.jpg" alt="珠海科技学院" width="200" height="45"
                     aria-label="Bootstrap">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">图书</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">视频</a></li>

            </ul>

            <div class="col-md-3 text-end">
                {% if suser != None %}
                <div>欢迎 <a href="/user/center/">{{ suser.uname }}</a></div>
                {% else %}
                <button type="button" class="btn btn-outline-primary me-2"
                        onclick="javascript:window.location.href='/user/login/'">登录
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="javascript:window.location.href='/user/register/'">注册
                </button>
                {% endif %}
            </div>
        </header>
    </div>
        <!-- Navbar -->

    </header>



        {% block main %}

        {% endblock %}
<!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <hr class="my-2">

    <!--Copyright-->
    <div class="footer-copyright py-3"> Copyright &copy; 2021 He Ze. All rights reserved.
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

        {% block footerjs %}

        {% endblock %}
</body>
</html>